@page "{id:int?}"
@model qldfuelanalyse.Pages.Sites.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@{string basePriceUrl = "https://localhost:44338/api/prices/" + Model.SitesObj.Sites.First().SiteId.ToString();
    string fuelType = Model.SitesObj.QueryInfo.FuelTypes.First();
    string siteName = Model.SitesObj.Sites.First().SiteName;
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/vega@5.10.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.9.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.5.2"></script>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="~/js/graphs.js"></script>

    <script>
    create_single_price_graph("@basePriceUrl", "@fuelType", "@siteName", "vegagraph1");
    </script>
}

<h2>Details</h2>

<div>
    <hr />
    <p>
        @Html.DisplayFor(model => model.SitesObj.Sites.First().SiteId)
    </p>
    <p>
        @Html.DisplayFor(model => model.SitesObj.Sites.First().SiteName)
    </p>
    <p>
        @Html.DisplayFor(model => model.SitesObj.Sites.First().SiteSuburb)
    </p>
    <p>
        @Html.DisplayFor(model => model.SitesObj.Sites.First().SitePostCode)
    </p>
    <div id="mapid" data-lat="@Model.SitesObj.Sites.First().SiteLatitude" data-long="@Model.SitesObj.Sites.First().SiteLongitude" data-sitename="@siteName"></div>
    <div id="vegagraph1" class="container"></div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        @{bool first = true;}
        @foreach (var item in Model.SitesObj.QueryInfo.FuelTypes)
        {
            @if (first)
            {
                <label class="btn btn-secondary fuel-type-btn active" id="@item" data-sitename="@siteName" data-apiUrl="@basePriceUrl">
                    <input type="radio" name="options" checked> @item
                </label>
                first = false;
            }
            else
            {
                <label class="btn btn-secondary fuel-type-btn" id="@item" data-sitename="@siteName" data-apiUrl="@basePriceUrl">
                    <input type="radio" name="options"> @item
                </label>
            }
        }
    </div>
    <a asp-page="./Index">Back to Site List</a>
</div>