@page "{id:int?}"
@model qldfuelanalyse.Pages.Sites.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@{string basePriceUrl = String.Format("{0}api/prices/{1}", Model.FuelApiBaseUrlClient, Model.SitesObj.Sites.First().SiteId.ToString());
    string fuelType = Model.SitesObj.QueryInfo.FuelTypes.First();
    string siteName = Model.SitesObj.Sites.First().SiteName;
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/vega@5.10.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.9.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.5.2"></script>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="~/js/detailspage.js"></script>

    <script>
    create_single_price_graph("@basePriceUrl", "@fuelType", "@siteName", "vegagraph1");
    </script>
}

<h2>@Html.DisplayFor(model => model.SitesObj.Sites.First().SiteName)</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.SitesObj.Sites.First().SiteBrand)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.SitesObj.Sites.First().SiteBrand)
        </dd>

        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.SitesObj.Sites.First().SitesAddressLine1)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.SitesObj.Sites.First().SitesAddressLine1)
        </dd>

        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.SitesObj.Sites.First().SiteSuburb)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.SitesObj.Sites.First().SiteSuburb)
        </dd>

        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.SitesObj.Sites.First().SitePostCode)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.SitesObj.Sites.First().SitePostCode)
        </dd>
    </dl>
    <h3>Latest Prices</h3>
    <dl class="row">
        @foreach (var item in Model.Prices)
        {
            <dt class="col-sm-4">
                @Html.DisplayFor(modelItem => item.FuelType)
            </dt>
            <dd class="col-sm-4">
                @{double parameterValue = (double)item.Price / 1000;}
                $
                @Html.DisplayFor(modelItem => parameterValue)
            </dd>
            <dd class="col-sm-4">
                Recorded on:
                @Html.DisplayFor(modelItem => item.TransactionDateutc)
            </dd>
        }
    </dl>

    <div id="mapid" data-lat="@Model.SitesObj.Sites.First().SiteLatitude" data-long="@Model.SitesObj.Sites.First().SiteLongitude" data-sitename="@siteName"></div>
    <div id="vegagraph1" class="container"></div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        @{bool first = true;}
        @foreach (var item in Model.SitesObj.QueryInfo.FuelTypes)
        {
            @if (first)
            {
                <label class="btn btn-secondary fuel-type-btn active" id="@item" data-sitename="@siteName" data-apiUrl="@basePriceUrl">
                    <input type="radio" name="options" checked> @item
                </label>
                first = false;
            }
            else
            {
                <label class="btn btn-secondary fuel-type-btn" id="@item" data-sitename="@siteName" data-apiUrl="@basePriceUrl">
                    <input type="radio" name="options"> @item
                </label>
            }
        }
    </div>
    <a asp-page="./Index">Back to Site List</a>
</div>