@page
@model qldfuelanalyse.Pages.Sites.IndexModel

@{
    ViewData["Title"] = "Sites";
}

<h1>Browse Sites</h1>
<form>
    <p>
        Site Name:
        <input type="text" asp-for="Search" />
        <select asp-for="Brand" asp-items="Model.Brands">
            <option value="">All</option>
        </select>
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    @if (Model.SitesObj.Sites.Count == 0)
    {
        <p>No Items Found</p>
    }
    else
    {
    <thead>
        <tr>
            <th>
                <a asp-page="/Sites/index" asp-route-sortby="1" asp-route-search="@Model.Search" asp-route-brand="@Model.Brand">
                    @Html.DisplayNameFor(model => model.SitesObj.Sites.First().SiteName)
                </a>
            </th>
            <th>
                <a asp-page="/Sites/index" asp-route-sortby="2" asp-route-search="@Model.Search" asp-route-brand="@Model.Brand">
                    @Html.DisplayNameFor(model => model.SitesObj.Sites.First().SiteBrand)
                </a>
            </th>
            <th>
                <a asp-page="/Sites/index" asp-route-sortby="3" asp-route-search="@Model.Search" asp-route-brand="@Model.Brand">
                    @Html.DisplayNameFor(model => model.SitesObj.Sites.First().SiteSuburb)
                </a>
        </tr>
    </thead>
    }
    <tbody>
        @foreach (var item in Model.SitesObj.Sites)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteSuburb)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.SiteId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{int PageNum = int.Parse(Model.PageNum);}
@*this doesn't look very good*@
<nav>
    <ul class="pagination">
        @if (PageNum > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-page="/Sites/index" asp-route-PageNum="@(PageNum - 1 )" asp-route-search="@Model.Search" asp-route-sortby="@Model.SortBy" asp-route-brand="@Model.Brand">Previous Page</a>
            </li>
        }
        @foreach (int page in Model.PageNumRange)
        {
            string activeclass = "";
            @if (page == PageNum)
            {
                activeclass = "active";
            }
            <li class="page-item @(activeclass)">
                <a class="page-link" asp-page="/Sites/index" asp-route-PageNum="@(page)" asp-route-search="@Model.Search" asp-route-sortby="@Model.SortBy" asp-route-brand="@Model.Brand">@(page)</a>
            </li>
        }

        @if (PageNum < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-page="/Sites/index" asp-route-PageNum="@(PageNum + 1 )" asp-route-search="@Model.Search" asp-route-sortby="@Model.SortBy" asp-route-brand="@Model.Brand">Next Page</a>
            </li>
        }
    </ul>
</nav>