@page
@model qldfuelanalyse.Pages.CompareModel
@{
    ViewData["Title"] = "Compare";
}

@{string basePriceUrl = String.Format("{0}api/prices/", Model.FuelApiBaseUrlClient);
  string baseSiteUrl = String.Format("{0}api/sites/", Model.FuelApiBaseUrlClient);

  List<string> fuelTypes = new List<string> {
        "PULP 98 RON",
  "Premium Diesel",
  "Unleaded",
  "Diesel",
  "e85",
  "e10",
  "LPG",
  "OPAL",
  "PULP 95/96 RON" };
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/vega@5.10.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.9.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.5.2"></script>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="~/js/comparepage.js"></script>
}

<h1>Compare</h1>

<form>
    <p>
        <input id="siteapi" data-basesiteapiurl="@baseSiteUrl" type="hidden" />
        Site Id 1:
        <input class="userInputSiteName" data-id="0" type="text">
        <input class="inputSiteId" type="hidden" />
        <input class="inputSiteName" type="hidden" />
        <input class="inputFuelTypes" type="hidden" />
        <br />
        Site Id 2:
        <input class="userInputSiteName" data-id="1" type="text">
        <input class="inputSiteId" type="hidden" />
        <input class="inputSiteName" type="hidden" />
        <input class="inputFuelTypes" type="hidden" />
        <br />
        <button id="generateGraphBtn" data-baseapiurl="@basePriceUrl" type="button">Generate graph</button>
    </p>
    <div id="vegagraph1" class="container"></div>
    <div id="fuel-type-btn-group" class="btn-group btn-group-toggle" data-toggle="buttons" hidden>
        @{bool first = true;}
        @foreach (var item in fuelTypes)
        {
            @if (first)
            {
                <label class="btn btn-secondary fuel-type-btn active" id="@item" data-apiUrl="@basePriceUrl">
                    <input type="radio" name="options" checked> @item
                </label>
                first = false;
            }
            else
            {
                <label class="btn btn-secondary fuel-type-btn" id="@item" data-apiUrl="@basePriceUrl">
                    <input type="radio" name="options"> @item
                </label>
            }
        }
    </div>

</form>

