@page
@model qldfuelanalyse.Pages.MapModel
@{
    ViewData["Title"] = "Map";
}

@{string basePriceUrl = String.Format("{0}api/prices/", Model.FuelApiBaseUrlClient);
    string baseSiteUrl = String.Format("{0}api/sites/", Model.FuelApiBaseUrlClient);

    List<string> fuelTypes = new List<string> {
        "PULP 98 RON",
  "Premium Diesel",
  "Unleaded",
  "Diesel",
  "e85",
  "e10",
  "LPG",
  "OPAL",
  "PULP 95/96 RON" };
}

@section Scripts
{
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="~/js/mappage.js"></script>
}

<h1>Map</h1>

<input id="siteapi" data-basesiteapiurl="@baseSiteUrl" type="hidden" />

<div id="mapid"></div>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    @{bool first = true;}
    @foreach (var item in fuelTypes)
    {
        @if (first)
        {
            <label class="btn btn-secondary fuel-type-btn active" id="@item" data-apiUrl="@baseSiteUrl">
                <input type="radio" name="options" checked> @item
            </label>
            first = false;
        }
        else
        {
            <label class="btn btn-secondary fuel-type-btn" id="@item" data-apiUrl="@baseSiteUrl">
                <input type="radio" name="options"> @item
            </label>
        }
    }
</div>

