@page
@model qldfuelanalyse.Pages.StatsModel
@{
    ViewData["Title"] = "Stats";
}

@{List<string> fuelTypes = new List<string> {
        "Premium Unleaded 98",
  "Premium Diesel",
  "Unleaded",
  "Diesel",
  "e85",
  "e10",
  "LPG",
  "OPAL",
  "Premium Unleaded 95" };
    string basePriceUrl = String.Format("{0}api/prices/", Model.FuelApiBaseUrlClient);
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

    <script src="~/js/statpage.js"></script>
    <script>
        create_all_price_graph("@basePriceUrl", "@fuelTypes.First()", "vegagraph1");
    </script>
}

<h1>Statistics</h1>

<div>
    <hr />
    <div id="vegagraph1" class="container"></div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        @{bool first = true;}
        @foreach (var item in fuelTypes)
        {
            @if (first)
            {
                <label class="btn btn-secondary fuel-type-btn active" id="@item" data-apiUrl="@basePriceUrl">
                    <input type="radio" name="options" checked> @item
                </label>
                first = false;
            }
            else
            {
                <label class="btn btn-secondary fuel-type-btn" id="@item" data-apiUrl="@basePriceUrl">
                    <input type="radio" name="options"> @item
                </label>
            }
        }
    </div>
</div>

